<div class="mb-3">
  <input class="input" name="name" type="text" placeholder="Nome" value="{{ person.name }}" />
</div>

<div class="mb-3">
  <input class="input cpfmask" name="cpf" type="text" placeholder="CPF" value="{{ person.cpf }}"/>
</div>
